@charset "UTF-8";
body {
  font-family: "Oswald", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1120px;
    margin-right: auto;
    margin-left: auto;
  }
}

.works {
  position: relative;
  min-height: 100vh;
}

.background {
  background-color: var(--elements-extra);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9))), url("../images/map.webp");
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../images/map.webp");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #212d90;
  -webkit-filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.37));
          filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.37));
  padding: 15px 0;
}
@media screen and (min-width: 768px) {
  .header {
    height: 200px;
    padding: 75px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 60px;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: block;
  }
}

.header-menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header-menu__link {
  font-style: normal;
  font-weight: 200;
  font-size: 34px;
  line-height: 1.47;
  color: #ffffff;
  -webkit-transition-property: text-shadow;
  transition-property: text-shadow;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .header-menu__link {
    font-size: 46px;
  }
}
.header-menu__link:hover, .header-menu__link:focus {
  text-shadow: 0 0 20px #ffffff;
}

.logo {
  margin-top: 5px;
  width: 185px;
  -webkit-transition-property: scale;
  transition-property: scale;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover, .logo:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
@media screen and (min-width: 768px) {
  .logo {
    width: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-top: 15px;
  }
}
@media screen and (min-width: 768px) {
  .logo--tel {
    display: none;
  }
}

.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 30px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .language {
    width: 75px;
    height: 50px;
  }
}
.language:hover, .language:focus {
  background-color: #c4c4c4;
}
.language__top {
  border-radius: 9px 9px 0px 0px;
  border-bottom: 1px solid black;
}
.language__bottom {
  border-radius: 0px 0px 9px 9px;
  border-top: 1px solid black;
}

.language-container {
  position: relative;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .language-container--works-page {
    margin-top: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .language-container--works-page {
    display: inline-block;
  }
}
.language-container--service-page {
  margin-left: 30px;
}

.language-menu {
  display: none;
  width: 50px;
  height: 90px;
  background-color: transparent;
  border-radius: 9px;
  -webkit-box-shadow: 0px 1px 8px 5px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 8px 5px rgba(0, 0, 0, 0.14);
  position: absolute;
  top: 0;
}
.language-menu--mob {
  top: 10px;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .language-menu {
    width: 75px;
    height: 150px;
  }
}

.language-menu.is-open {
  display: block;
}

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider {
  position: relative;
}

.slider .slick-arrow {
  position: absolute;
  top: 135px;
  z-index: 10;
  font-size: 0;
  cursor: pointer;
}
@media screen and (min-width: 375px) {
  .slider .slick-arrow {
    top: 305px;
  }
}
@media screen and (min-width: 430px) {
  .slider .slick-arrow {
    top: 383px;
  }
}
@media screen and (min-width: 600px) {
  .slider .slick-arrow {
    top: 392px;
  }
}
@media screen and (min-width: 768px) {
  .slider .slick-arrow {
    top: 280px;
  }
}
@media screen and (min-width: 1200px) {
  .slider .slick-arrow {
    top: 85px;
  }
}

.slider .slick-arrow.slick-arrow.slick-prev {
  left: calc(50% - 95px);
  background: url(../images/arrow-left.png) center center no-repeat;
  background-size: 35px;
  width: 35px;
  height: 35px;
  border: none;
}
@media screen and (min-width: 430px) {
  .slider .slick-arrow.slick-arrow.slick-prev {
    left: calc(50% - 145px);
  }
}
@media screen and (min-width: 600px) {
  .slider .slick-arrow.slick-arrow.slick-prev {
    left: calc(50% - 170px);
  }
}
@media screen and (min-width: 768px) {
  .slider .slick-arrow.slick-arrow.slick-prev {
    left: calc(50% - 240px);
    background-size: 95px;
    width: 95px;
    height: 95px;
  }
}
@media screen and (min-width: 1200px) {
  .slider .slick-arrow.slick-arrow.slick-prev {
    left: calc(50% - 430px);
  }
}

.slider .slick-arrow.slick-arrow.slick-next {
  right: calc(50% - 95px);
  background: url(../images/arrow-right.png) center center no-repeat;
  background-size: 35px;
  width: 35px;
  height: 35px;
  border: none;
}
@media screen and (min-width: 430px) {
  .slider .slick-arrow.slick-arrow.slick-next {
    right: calc(50% - 145px);
  }
}
@media screen and (min-width: 600px) {
  .slider .slick-arrow.slick-arrow.slick-next {
    right: calc(50% - 170px);
  }
}
@media screen and (min-width: 768px) {
  .slider .slick-arrow.slick-arrow.slick-next {
    right: calc(50% - 240px);
    background-size: 95px;
    width: 95px;
    height: 95px;
  }
}
@media screen and (min-width: 1200px) {
  .slider .slick-arrow.slick-arrow.slick-next {
    right: calc(50% - 430px);
  }
}

.slider .slick-arrow.slick-disabled {
  opacity: 0;
}

.button {
  width: 50px;
  height: 30px;
  margin-top: 10px;
  background-color: #ffffff;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 8px 5px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 8px 5px rgba(0, 0, 0, 0.14);
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .button {
    display: none;
  }
}
.button--tab {
  display: none;
}
@media screen and (min-width: 768px) {
  .button--tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 75px;
    height: 50px;
    padding: 10px;
    margin-top: 50px;
  }
}
@media screen and (min-width: 768px) {
  .button--tab-works {
    margin-top: 0;
  }
}

.menu {
  fill: #212d90;
}

.hidden {
  display: none;
}

.main-page {
  display: block;
  margin-top: 100px;
  margin-bottom: 100px;
}
@media screen and (min-width: 768px) {
  .main-page {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .main-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 175px;
  }
}

.headline {
  font-size: 64px;
  line-height: 1.2;
  color: #2b3593;
  font-weight: 400;
  text-align: center;
  margin-bottom: 100px;
}
@media screen and (min-width: 768px) {
  .headline {
    font-size: 103px;
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .headline {
    font-size: 125px;
    text-align: left;
    margin-bottom: 0;
    padding-right: 90px;
    border-right: 10px #212d90 solid;
  }
}
@media screen and (min-width: 1200px) {
  .headline--rus {
    padding-right: 75px;
  }
}

.headline-extra {
  font-weight: 300;
  font-size: 36px;
  line-height: 1.15;
  color: black;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .headline-extra {
    font-size: 73px;
  }
}
@media screen and (min-width: 1200px) {
  .headline-extra {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .headline-extra--rus {
    font-size: 55px;
  }
}
@media screen and (min-width: 1200px) {
  .headline-extra--ua {
    font-size: 65px;
  }
}

.main-page__list {
  margin-bottom: 25px;
}
.main-page__list:last-child {
  margin-bottom: 0;
}

.link {
  color: black;
}

.mobile-menu {
  width: 100vw;
  height: calc(100vh - 200px);
  min-height: 500px;
  background: #212d90;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mobile-menu__item {
  text-align: center;
}
.mobile-menu__link {
  font-style: normal;
  font-weight: 200;
  font-size: 34px;
  line-height: 1.47;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-transition-property: text-shadow;
  transition-property: text-shadow;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  text-shadow: 0 0 20px #ffffff;
}
.mobile-menu__link::after {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 45px;
  height: 1px;
  background-color: #ffffff;
}

.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.background.menu--open .mobile-menu__icon-menu {
  display: none;
}

.background.menu--open .mobile-menu__icon-close {
  display: block;
}

.background .mobile-menu__icon-close {
  display: none;
}

.background.menu--open .main-page {
  display: none;
}

.background.menu--open .article {
  display: none;
}

.background.menu--open .slider {
  display: none;
}

.background.menu--open .arrow {
  display: none;
}

.background.menu--open .works {
  display: none;
}

.background.menu--open .about {
  display: none;
}

.background.menu--open .contacts {
  display: none;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #212d90;
  -webkit-filter: drop-shadow(0px -4px 12px rgba(0, 0, 0, 0.37));
          filter: drop-shadow(0px -4px 12px rgba(0, 0, 0, 0.37));
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .footer {
    height: 200px;
    padding: 30px 0;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list {
  display: inline-block;
}

.footer__text {
  color: #ffffff;
  font-weight: 200;
  font-size: 12px;
  line-height: 1.5;
  font-style: normal;
  display: block;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .footer__text {
    font-size: 20px;
  }
}

.footer__link {
  color: #ffffff;
  font-weight: 200;
  font-size: 12px;
  line-height: 1.5;
  font-style: normal;
  -webkit-transition-property: text-shadow;
  transition-property: text-shadow;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 20px;
  }
}
.footer__link:hover, .footer__link:focus {
  text-shadow: 0 0 5px #ffffff;
}

.footer-layout {
  display: inline-block;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.social-media__page {
  width: 25px;
  height: 25px;
  background: #ffffff;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__page--address {
  width: 55px;
  height: 55px;
}
@media screen and (min-width: 768px) {
  .social-media__page {
    width: 40px;
    height: 40px;
  }
}
.social-media__page:hover, .social-media__page:focus {
  -webkit-box-shadow: 0px 0px 5px 4px #ffffff;
          box-shadow: 0px 0px 5px 4px #ffffff;
}

.headline-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.article {
  background: #ffffff;
  padding: 40px 50px;
  margin: 80px 30px;
  -webkit-box-shadow: 0px 2px 19px 4px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 2px 19px 4px rgba(0, 0, 0, 0.19);
  font-size: 15px;
  line-height: 1.46;
  position: relative;
}
@media screen and (min-width: 768px) {
  .article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 35px;
    margin-bottom: 35px;
  }
}

.article-pic {
  display: none;
}
@media screen and (min-width: 375px) {
  .article-pic {
    display: block;
    width: 152px;
    height: 157px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 430px) {
  .article-pic {
    width: 241px;
    height: 250px;
  }
}
@media screen and (min-width: 768px) {
  .article-pic {
    margin-bottom: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .article-pic {
    position: absolute;
    right: 50px;
    top: 190px;
  }
}

.article-headline {
  margin-top: 0;
  font-size: 20px;
  line-height: 1.46;
  color: #2b3593;
  font-weight: 400;
  margin-bottom: 15px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
@media screen and (min-width: 375px) {
  .article-headline {
    margin-top: 15px;
  }
}
@media screen and (min-width: 430px) {
  .article-headline {
    width: 250px;
  }
}
@media screen and (min-width: 600px) {
  .article-headline {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .article-headline {
    display: inline-block;
    width: auto;
    font-size: 55px;
    margin-top: 0;
    margin-bottom: 45px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
@media screen and (min-width: 1200px) {
  .article-headline {
    display: inline-block;
    margin-bottom: 40px;
    font-size: 68px;
  }
}

.article-text {
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 12px;
}
.article-text--link {
  color: #2b3593;
}
@media screen and (min-width: 600px) {
  .article-text {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .article-text {
    font-size: 23px;
    margin-bottom: 0;
  }
}
.article-text--extra {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .article-text--extra {
    font-size: 23px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .article-text--extra {
    font-size: 46px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
.article-text--subhead {
  display: block;
  font-size: 15px;
  margin-bottom: 5px;
}
@media screen and (min-width: 600px) {
  .article-text--subhead {
    font-size: 19px;
    margin-bottom: 6px;
  }
}
@media screen and (min-width: 768px) {
  .article-text--subhead {
    font-size: 31px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .article-text {
    max-width: calc(100% - 271px);
    margin-top: 0;
  }
}
.article-text__list {
  font-size: 12px;
  list-style: initial;
  list-style-position: inside;
}
@media screen and (min-width: 600px) {
  .article-text__list {
    font-size: 15px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .article-text__list {
    font-size: 23px;
  }
}

.article-servicelist {
  font-size: 12px;
  line-height: 1.47;
  color: #212d90;
  background: #ffffff;
}
@media screen and (min-width: 600px) {
  .article-servicelist {
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) {
  .article-servicelist {
    font-size: 23px;
  }
}
@media screen and (min-width: 1200px) {
  .article-servicelist {
    margin-top: 20px;
  }
}

.service:nth-child(2n) {
  background-color: #f3f3f3;
}

.service {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .service {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .service {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.service::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-bottom: #2b3593 1px dotted;
}
@media screen and (min-width: 768px) {
  .service::before {
    border-bottom: #2b3593 2px dotted;
  }
}

.service-name {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.price-button {
  display: block;
  width: 100%;
  min-height: 50px;
  padding: 15px;
  margin-top: 25px;
  color: #ffffff;
  background-color: #2b3593;
  text-align: center;
}
@media screen and (min-width: 375px) {
  .price-button {
    display: none;
  }
}

.pricelist {
  display: none;
}
@media screen and (min-width: 375px) {
  .pricelist {
    display: block;
  }
}

.portfolio {
  margin-top: 15px;
  margin-bottom: 40px;
}
.portfolio__portfolio-item {
  margin-bottom: 15px;
}

.container-wrapper {
  display: block;
  margin-top: 80px;
}
@media screen and (min-width: 768px) {
  .container-wrapper {
    margin-top: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .container-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
  }
}

.filter-container {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  background-color: #212d90;
  border-radius: 9px;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .filter-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .filter-container__genre {
    max-width: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .filter-container__service {
    margin-left: 140px;
  }
}
.filter-container--label {
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .filter-container--label {
    width: 130px;
  }
}
.filter-container--list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.filter-container--button {
  display: block;
  background-color: #ffffff;
  border: none;
  color: #2b3593;
  width: 100%;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-transition-property: background-color color font-weight;
  transition-property: background-color color font-weight;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .filter-container .filter-container--button:hover {
    font-weight: 500;
    background-color: #f3f3f3;
    color: #2b3593;
  }
}
.filter-container--button__left {
  border-right: 1px solid #212d90;
  border-radius: 0px 0px 0px 9px;
}
@media screen and (min-width: 768px) {
  .filter-container--button__left {
    border-radius: 0px;
  }
}
.filter-container--button__right {
  border-left: 1px solid #212d90;
  border-radius: 0px 0px 9px 0px;
}
@media screen and (min-width: 768px) {
  .filter-container--button__right {
    border-radius: 0px 9px 9px 0px;
  }
}
.filter-container--button__middle {
  border-right: 1px solid #212d90;
}

.mixitup-control-active {
  background-color: #dd2626;
  color: #ffffff;
  font-weight: 500;
}

.about {
  margin-top: 80px;
}
@media screen and (min-width: 768px) {
  .about {
    margin-top: 0;
  }
}
.about-text--tel {
  display: block;
}
@media screen and (min-width: 768px) {
  .about-text--tel {
    display: none;
  }
}
.about-text--tab {
  display: none;
}
@media screen and (min-width: 768px) {
  .about-text--tab {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .about-text--tab {
    display: none;
  }
}
.about-text--desk {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about-text--desk {
    display: block;
  }
}

.layout-about {
  max-width: 710px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .layout-about {
    max-width: 100%;
  }
}

.about-headline {
  font-size: 39px;
  line-height: 1.46;
  color: #2b3593;
  font-weight: 400;
  margin-top: 35px;
  margin-bottom: 15px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about-headline {
    font-size: 49px;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .about-headline {
    font-size: 69px;
    margin-bottom: 30px;
  }
}

.team {
  width: 100%;
  max-width: 350px;
  height: 460px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 19px 4px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 2px 19px 4px rgba(0, 0, 0, 0.19);
  padding: 20px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .team {
    position: absolute;
    top: 100px;
    right: 0;
    margin-top: 0;
  }
}
.team__headline {
  font-size: 39px;
  line-height: 1.46;
  color: #2b3593;
  font-weight: 400;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team__headline {
    font-size: 49px;
    margin-top: 0;
  }
}
.team__name {
  font-size: 24px;
  line-height: 1.5;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  width: 100%;
  padding-left: 90px;
}
.team__list {
  margin-top: 45px;
  height: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .team__list {
    margin-top: 30px;
  }
}
.team__list-item {
  position: relative;
}
.team__list-item--top {
  top: 10px;
}
.team__list-item--bottom {
  bottom: 10px;
}
.team__list-item:last-child {
  margin-bottom: 0;
}

.about__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.46;
}
@media screen and (min-width: 768px) {
  .about__text {
    font-size: 21px;
    width: calc(100% - 380px);
  }
}
.about__text--lower {
  width: 100%;
}

.image-about {
  display: none;
}
@media screen and (min-width: 768px) {
  .image-about {
    display: block;
    width: 100%;
    margin-top: 45px;
    margin-bottom: 45px;
  }
}

.team-card {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team-card__pic {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  border: solid #2b3593 7px;
}
.team-card__layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.team-card__arrow {
  width: 60px;
  height: 60px;
}
.team-card__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.team-card__close {
  background-color: transparent;
  border: none;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
}
.team-card__name {
  text-align: center;
  margin: 20px 0;
}
@media screen and (min-width: 380px) {
  .team-card__name {
    font-size: 24px;
  }
}
.team-card__bio {
  font-size: 14px;
}
@media screen and (min-width: 380px) {
  .team-card__bio {
    font-size: 15px;
  }
}

.decorative_line {
  position: relative;
}
.decorative_line::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("../images/team_line_2.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.article-text--button {
  color: #2b3593;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.contacts {
  margin-top: 75px;
  max-width: 790px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .contacts {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    max-width: 100%;
  }
}
.contacts__headline {
  font-size: 39px;
  line-height: 1.46;
  color: #2b3593;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contacts__headline {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__headline {
    text-align: center;
    font-size: 68px;
    position: relative;
  }
}
.contacts__headline--top {
  margin-top: 50px;
}
@media screen and (min-width: 768px) {
  .contacts__headline--top {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__headline--top {
    left: -335px;
  }
}
.contacts__headline--top-rus {
  margin-top: 50px;
}
@media screen and (min-width: 768px) {
  .contacts__headline--top-rus {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__headline--top-rus {
    left: -360px;
  }
}
.contacts__headline--bottom {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .contacts__headline--bottom {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__headline--bottom {
    right: -360px;
  }
}
.contacts__headline--bottom-rus {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .contacts__headline--bottom-rus {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__headline--bottom-rus {
    right: -340px;
  }
}

.map {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 200px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 365px) {
  .map {
    width: 325px;
  }
}
@media screen and (min-width: 768px) {
  .map {
    height: 322px;
    margin-left: 0;
    margin-right: 0;
    width: 375px;
  }
}
@media screen and (min-width: 1200px) {
  .map {
    width: 630px;
    height: 300px;
  }
}

.address {
  width: 100%;
  min-height: 225px;
  max-width: 325px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 19px 4px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 2px 19px 4px rgba(0, 0, 0, 0.19);
  padding: 30px 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .address {
    margin-bottom: 0;
    height: 300px;
    max-width: 390px;
  }
}
.address__list-item {
  margin-bottom: 15px;
}
@media screen and (min-width: 1200px) {
  .address__list-item {
    margin-bottom: 25px;
  }
}
.address__item {
  color: #2b3593;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.5;
}
@media screen and (min-width: 350px) {
  .address__item {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .address__item {
    font-size: 27px;
  }
}

.contacts__text {
  display: block;
  max-width: 325px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .contacts__text {
    margin-left: 0;
    margin-right: 0;
    font-size: 17px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__text {
    font-size: 15px;
    margin-bottom: -55px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__text--eng {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__text--rus {
    margin-bottom: -40px;
  }
}

.contacts__pic {
  display: block;
  width: 100%;
  height: 200px;
  max-width: 325px;
  margin-left: auto;
  margin-right: auto;
  background-color: aqua;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .contacts__pic {
    width: 375px;
    max-width: 375px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__pic {
    width: 290px;
    max-width: 290px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__pic--last {
    margin-left: 75px;
  }
}

.contacts__upper-layout {
  display: block;
}
@media screen and (min-width: 768px) {
  .contacts__upper-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__upper-layout {
    margin-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.contacts__bottom-layout {
  display: block;
}
@media screen and (min-width: 768px) {
  .contacts__bottom-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__bottom-layout {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 90px;
  }
}

.contacts__pic-layout {
  display: block;
}
@media screen and (min-width: 1200px) {
  .contacts__pic-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}/*# sourceMappingURL=main.css.map */