:root {
  --brand-color: #212d90;
  --elements-color: #2b3593;
  --elements-extra: #ffffff;
}

body {
  font-family: "Oswald", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

/*header*/

.background {
  background-color: var(--elements-extra);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("../images/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  background: linear-gradient(
    var(--brand-color) 0% 45%,
    rgba(255, 255, 255, 0) 45% 100%
  );
  padding-top: 50px;
}

.header-menu {
  display: flex;
  justify-content: center;
}

.header-item {
  display: block;

  font-weight: 200;
  font-size: 46px;
  line-height: 1.47;
  color: var(--elements-extra);
  text-transform: lowercase;
}

.headeritem-position {
  margin-right: 95px;
}

.headeritem-position:last-child {
  margin-right: 0;
}

.body-index {
  padding-top: 15px;
  padding-bottom: 155px;
}

.lang-btn {
  background: var(--elements-extra);
  box-shadow: 0px 1px 8px 5px rgba(0, 0, 0, 0.14);
  border-style: hidden;
  border-radius: 14px;
  font-size: 37px;
  line-height: 1.48;
  color: var(--elements-color);
  font-weight: 700;
  cursor: pointer;
}

.button-content {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 9px;
}

.button-selector {
  margin-right: 15px;
}

.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headline {
  font-size: 125px;
  line-height: 1.2;
  color: var(--elements-color);
  font-weight: 400;
  display: flex;
  align-items: center;
}

.headline::after {
  content: "";
  width: 15px;
  height: 345px;
  background-color: var(--brand-color);
  margin-right: 105px;
}

.headline-second {
  display: block;
  font-weight: 300;
  font-size: 74px;
  line-height: 1.15;
  color: black;
  min-width: 450px;
}

.headline-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.article {
  background: var(--elements-extra);
  box-shadow: 0px 2px 19px 4px rgba(0, 0, 0, 0.19);
  font-size: 15px;
  line-height: 1.46;
}

.article-headline {
  font-size: 68px;
  line-height: 1.46;
  color: var(--elements-color);
  font-weight: 400;
}

.article-table {
  font-size: 17px;
  line-height: 1.47;
  color: var(--brand-color);
  background: var(--elements-extra);
}

.article-row {
  background: #f3f3f3;
}

.position {
  display: flex;
  justify-content: space-between;
}

.footer {
  background: var(--brand-color);
  color: var(--elements-extra);
  font-weight: 200;
  font-size: 20px;
  line-height: 1.5;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-item {
  font-weight: 200;
  font-size: 20px;
  line-height: 1.5;
  color: var(--elements-extra);
  font-style: normal;
}

.social-media {
  width: 45px;
  height: 45px;
  background: var(--elements-extra);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sm-list {
  margin-top: 10px;
  display: flex;
}

.sm-list-item {
  margin-right: 60px;
}

.sm-list-item:last-child {
  margin-right: 0;
}

.social-media:focus,
.social-media:hover {
  box-shadow: 0px 0px 10px 4px var(--elements-extra);
}

.copyright {
  display: inline-block;
  color: var(--elements-extra);
}

.header-item:focus,
.header-item:hover {
  text-shadow: 0 0 20px var(--elements-extra);
}

.footer-item:focus,
.footer-item:hover {
  text-shadow: 0 0 5px var(--elements-extra);
}
