.logo{
    margin-top: 5px;
    width: 185px;

    transition-property: scale;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        transform: scale(1.05);
    }

    @media screen and(min-width:768px) {
        width: 300px;
    }

    @media screen and(min-width:1200px) {
        margin-top: 15px;
    }

    &--tel{
        @media screen and(min-width:768px) {
            display: none;
        }
    }
}