.headline {
    // font-size: 125px;
    font-size: 46px;
    line-height: 1.2;
    color: $elements-color;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
  }

  .headline-extra {
    font-weight: 300;
    font-size: 34px;
    // font-size: 74px;
    line-height: 1.15;
    color: black;
    text-align: center;
    margin-bottom: 10px;
  }

  .list{
    &:last-child{
      margin-bottom: 0;
    }
  }
