
.headline {

    font-size: 64px;
    line-height: 1.2;
    color: $elements-color;
    font-weight: 400;
    text-align: center;
    margin-bottom: 100px;

    @media screen and(min-width:768px) {
      font-size: 103px;
      margin-bottom: 100px;
    }

    @media screen and(min-width:1200px) {
          font-size: 125px;
          text-align: left;
          margin-bottom: 0;
          padding-right: 90px;
          border-right: 10px $brand-color solid;
    }

    &--rus{
      @media screen and(min-width:1200px) {
        padding-right: 75px;
      }
    }

  }

  .headline-extra {
    font-weight: 300;
    font-size: 36px;
    line-height: 1.15;
    color: black;
    text-align: center;

    @media screen and(min-width:768px) {
      font-size: 73px;
    }

    @media screen and(min-width:1200px) {
      text-align: left;
    }

    &--rus{
      @media screen and(min-width:1200px) {
        font-size: 55px;
      }
    }

    &--ua{
      @media screen and(min-width:1200px) {
        font-size: 65px;
      }
    }

  }


  .main-page__list{
    margin-bottom: 25px;

    &:last-child{
      margin-bottom: 0;
    }
  }

  .link{
    color: black;
  }
