
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
}

.slider{
    position: relative;
}

.slider .slick-arrow{
    position: absolute;
    top: 135px;
    z-index: 10;
    font-size: 0;
    cursor: pointer;

    @media screen and(min-width:375px) {
        top: 305px;
    }

    @media screen and(min-width:430px) {
        top:383px;
    }

    @media screen and(min-width:600px) {
        top:392px;
    }

    @media screen and(min-width:768px) {
        top:300px;
    }

    @media screen and(min-width:1200px) {
        top:85px;
    }

}

.slider .slick-arrow.slick-arrow.slick-prev{

    left: calc(50% - 95px);
    background: url(../images/arrow-left.png) center center no-repeat;
    background-size: 35px;
    width: 35px;
    height: 35px;
    border: none;

    @media screen and(min-width:430px) {
        left: calc(50% - 125px);
    }

    @media screen and(min-width:600px) {
        left: calc(50% - 135px);
    }

    @media screen and(min-width:768px) {
        left: calc(50% - 240px);
        background-size: 95px;
        width: 95px;
        height: 95px;
    }

    @media screen and(min-width:1200px) {
        left: calc(50% - 380px);
    }

}

.slider .slick-arrow.slick-arrow.slick-next{

    right: calc(50% - 95px);
    background: url(../images/arrow-right.png) center center no-repeat;
    background-size: 35px;
    width: 35px;
    height: 35px;
    border: none;

    @media screen and(min-width:430px) {
        right: calc(50% - 125px);
    }

    @media screen and(min-width:600px) {
        right: calc(50% - 135px);
    }

    @media screen and(min-width:768px) {
        right: calc(50% - 240px);
        background-size: 95px;
        width: 95px;
        height: 95px;
    }

    @media screen and(min-width:1200px) {
        right: calc(50% - 380px);
    }

}

.slider .slick-arrow.slick-disabled{
    opacity: 0;
}