/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.slider{
    position: relative;
}

.slider .slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 0;
}

.slider .slick-arrow.slick-arrow.slick-prev{
    left: -130px;
    background: url(../images/arrow-left.png) center center no-repeat;
    background-size: 95px;
    width: 95px;
    height: 95px;
    border: none;

}

.slider .slick-arrow.slick-arrow.slick-next{
    right: -130px;
    background: url(../images/arrow-right.png) center center no-repeat;
    background-size: 95px;
    width: 95px;
    height: 95px;
    border: none;
}

.slider .slick-arrow.slick-disabled{
    opacity: 0;
}