
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
}

.slider{
    position: relative;
}

.slider .slick-arrow{
    position: absolute;
    // top: 125px;
    top: 130px;
    z-index: 10;
    font-size: 0;

    @media screen and(min-width:345px) {
        top: 120px;
    }

    @media screen and(min-width:375px) {
        top: 290px;
    }

    @media screen and(min-width:430px) {
        top:385px;
    }

    @media screen and(min-width:768px) {
        top:310px;
    }


    // top: 370px;
    // top: 50%;
    // transform: translateY(-50%);

}

.slider .slick-arrow.slick-arrow.slick-prev{

    left: 40px;
    background: url(../images/arrow-left.png) center center no-repeat;
    background-size: 35px;
    width: 35px;
    height: 35px;
    border: none;

    @media screen and(min-width:375px) {
        left:50px;
    }

        @media screen and(min-width:768px) {
        left: 100px;
        background-size: 95px;
        width: 95px;
        height: 95px;
    }

    @media screen and(min-width:1200px) {
        background-size: 65px;
        width: 65px;
        height: 65px;
        left: -50px;
    }

    @media screen and(min-width:1400px) {
        left: -110px;
        background-size: 95px;
        width: 95px;
        height: 95px;
        }

}

.slider .slick-arrow.slick-arrow.slick-next{

    right: 40px;
    background: url(../images/arrow-right.png) center center no-repeat;
    background-size: 35px;
    width: 35px;
    height: 35px;
    border: none;

    @media screen and(min-width:375px) {
        right: 50px;
    }


    @media screen and(min-width:768px) {
        right: 100px;
        background-size: 95px;
        width: 95px;
        height: 95px;
    }

    @media screen and(min-width:1200px) {
        background-size: 65px;
        width: 65px;
        height: 65px;
        right: -50px;
    }


    @media screen and(min-width:1400px) {
    right: -110px;
    background-size: 95px;
    width: 95px;
    height: 95px;
    }

}

.slider .slick-arrow.slick-disabled{
    opacity: 0;
}