.article-text--terms{
    max-width: 100%;
    font-size: 23px;
    margin: 15px 0;
}

.terms_h1{
    font-size: 90px;
    // margin-bottom: 100px;
    text-align: left;

}

.terms_h2{
    font-size: 70px;
    margin: 90px 0;
    color: #000000;
    font-weight: 400;

}

.terms_h3{
    font-size: 65px;
    margin: 30px 0;
    font-weight: 300;
}

.terms_h4{
    font-size: 30px;
}